*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0px;
}
header{
    background-color: rgb(9, 0, 0);
    background-attachment: fixed;
}
header img{
    height: 20vh;
    padding: 10px;
    
}
/*header h1{
    font-size: 50px;
    text-align:start;
}*/
nav{
    display: flex;
    justify-content: end;
    text-align:end;
    background-color: black;
    
}
nav a{
  
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    
}
nav a:hover{
    color: rgb(234, 14, 21);
    
}
section{
    text-align: center;
    /*padding-top: 20px;
    height: 90vh;*/
    overflow: hidden;
}
section:nth-child(even){
    background-color: whitesmoke;
}
iframe{
    padding: 0px 5px;
}
img{
    padding: 0px 20px;
}
h2{
    padding-bottom: 30px;
}
footer{
    overflow: hidden;
    background-color: black;
}
footer a{
    display:inline-flex;
    color: white;
    text-decoration: none;
    padding: 10px 20px 10px;
    float: left;
}
footer a:hover{
    color: rgb(210, 25, 31);
}

section h2{
    background-color: black ;
    /*width: 100%;*/
    color: whitesmoke;
    padding: 20px;
    font-size: 30px;
}

.carousel-cell {
  width: 66%;
  margin-right: 10px;

  border-radius: 5px;
  
}
.carousel-cell video{
    
    width: 300px; /* Adjust width */
    height: 200px; /* Adjust height */
    overflow: hidden;
    background-color: #000; /* Optional: background color to fill any space */
    
   /* width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the video covers the entire container */
    
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;

  line-height: 200px;
  font-size: 80px;
  color: white;
}
section h2 {
    margin-bottom: 20px;
}

section .carousel {
    margin-top: 0;
}
.carousel img{
    padding: 0%;
}
.profile-photo{
    border-radius: 70%;
}
#Profile-name{
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: uppercase;
    margin: 20px 0px 30px 0px;
}
.small-handle a{
    background-color: gainsboro;
    padding: 10px 15px;
    border-radius: 30px;
    margin: 5px 10px;
    text-decoration: none;
}
.small-handle a:hover{
    background-color: rgb(30, 30, 30 / 25%);
}
.small-handle a i{
    margin: 5px;
    font-size: 1.25em;
}
#yt-handle{
    color: 	#FF0000;
}
#facebook-H{
    color: 	#1877F2;
}
#insta{
    color: #fd02a5;
}
h4{
    padding: 20px;
    padding-bottom: 0;
}

@media screen and (max-width: 580px){
    nav{
        flex-direction: column;
        padding: 10px;
    }
}
